@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,600;0,700;0,800;1,400;1,500;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sarala:wght@400;700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    clip-path: circle(50% at bottom right);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    position: relative;
    max-width: 150px;
    border-radius: 100px;
}

header .navegar ul{
    position: relative;
    display: flex;

}

header .navegar li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.container .text h2{
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: 2.5em;
    font-weight: 700;
    margin-top: 150px;
}

.container .text h2 span{
    font-size: 3.5em;
    color: #e51e2a;
}

.container .text p{
    color: #fff;
}

.container .text a{
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background: #329737d3;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

.container .text a:hover{
    transform: translateY(-10px);
}


.boxImg{
   position: absolute;
   right: 0;
   bottom: 10px;
}

.boxImg img{
    width: 210px;
}

.boxImg .img1{
    transform: rotate(-15deg);
    height: 180px;
    width: 180px;
}

.boxImg .img2{
    transform: rotate(5deg);
    height: 300px;
    width: 300px;
}

.boxImg .img3{
    transform: rotate(15deg);
    height: 180px;
    width: 180px;
}

.boxImg .img4{
    transform: rotate(-15deg);
}

.secao-sec{
    background: #fff;
    display: flex;
    padding: 50px;
}

.secao-sec-cont{
    display: flex;
    flex-direction: column;
}

.secao-sec-cont h2{
    color: #fff;
    background: #121212;
    border-radius: 40px;
    margin-top: 20px;
    text-align: center;
}

.icons{
    bottom: 50px;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons li{
    list-style: none;
}

.icons li a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;   
}

.icons li a:hover{
    background: #969996d3;
    transform: translateY(-10px);
}

.icons li a img{
    transform: scale(0.5);
    filter: invert(1);
}

footer{
    background: #121212;
    color: #fff;
    height: 30px;
}

.copy{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}